// "/-" comments out an entire section.

workspace "browser"
workspace "chat"
workspace "dev"
workspace "notes"

// Disable the "Important Hotkeys" pop-up at startup.
hotkey-overlay {
    skip-at-startup
}

// Fix for electron-based applications running electron >28.
environment {
      XDG_SESSION_TYPE "wayland"
}

// Screenshot path and name.
screenshot-path "~/pics/screenshots/%F-%H-%M-%S.png"

// I/O device configuration.
include "devices.kdl"

// Monitor mode and layout configuration.
include "monitors.kdl"

// Theme and animation configuration.
include "theme.kdl"

// Window rule configuration.
include "rules.kdl"

// Key binding configuration.
include "keybinds.kdl"

// Program auto starting configutaion.
include "autostart.kdl"
